@*@model Vidly.ViewModels.MoviesList*@

@{
    ViewBag.Title = "ViewMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Movies</h2>
<p>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-hover table-bordered">
    <tr>
        <th class="table-primary">Movies</th>
        <th class="table-primary">Genre</th>
    </tr>

    @foreach (var movie in Model)
{
        <tr>
    @*<td>@movie.Name</td>*@
    <td>  @Html.ActionLink((string)movie.Name, "Edit", "Movies",new { id = movie.Id },null)</td>
            <td>@movie.Genre.Name</td>
        </tr>
    }

</table>
